$FONT-SEMIBOLD: OpenSansSemibold;
$FONT-LIGHT: OpenSansLight;
$FONT-REGULAR: OpenSansRegular;
$FONT-CONDBOLD: OpenSansCondensedBold;

$FONT-LINK-COLOR: $COLOR--gray-2;
$FONT-LINK-COLOR-HOVER: $COLOR--black-3;
$FONT-LINK-COLOR-ACTIVE: $COLOR--black-1;
$FONT-SIZE: 16px;
$FONT-SIZE-BIG: 24px;
$FONT-SIZE-SMALL: 12px;
