.formField {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  .label {
    font-family: $FONT-REGULAR;
    font-size: $FONT-SIZE;
    color: $COLOR--gray-2;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .content {
    position: relative;
    width: 100%;
  }
}
