@mixin font-face($fontName) {
  @font-face {
    font-family: $fontName;
    src: url('./#{$fontName}/#{$fontName}.eot');
    src: url('./#{$fontName}/#{$fontName}.eot?#iefix') format('embedded-opentype'),
      url('./#{$fontName}/#{$fontName}.woff2') format('woff2'),
      url('./#{$fontName}/#{$fontName}.woff') format('woff'),
      url('./#{$fontName}/#{$fontName}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face('OpenSansRegular');
@include font-face('OpenSansSemibold');
@include font-face('OpenSansLight');
@include font-face('OpenSansCondensedBold');
